In [2]:
# Dictionaries
# Constructing adictionary

my_dict={'key1':'value1' , 'key2':'value2'}
my_dict

{'key1': 'value1', 'key2': 'value2'}

In [3]:
# call value by their key

my_dict['key2']

'value2'

In [4]:
# dictionaries are very flexible in the data types, they can hold

my_dict={'roll_number':123,'marks':[12,23,33],'subject':['com','sci','math']}

In [5]:
# lets call item from the dictionary

my_dict['subject']

['com', 'sci', 'math']

In [6]:
#can call an index on that value

my_dict['subject'][2]

'math'

In [7]:
# can the even call method on that value

my_dict['subject'][0].upper()

'COM'

In [8]:
my_dict['subject'][0].lower()

'com'

In [9]:
# add marks to the element

my_dict['marks'][1]=my_dict['marks'][1]+30

In [10]:
# chek

my_dict

{'roll_number': 123, 'marks': [12, 53, 33], 'subject': ['com', 'sci', 'math']}

In [11]:
# another way of adding

my_dict['marks'][0]+=20
my_dict['marks']

[32, 53, 33]

In [12]:
# subtracting

my_dict['marks'][1]-=3
my_dict['marks']

[32, 50, 33]

In [13]:
# multiplication

my_dict['marks'][0]*=2
my_dict['marks']

[64, 50, 33]

In [14]:
# division

my_dict['marks'][1]/=2
my_dict['marks']

[64, 25.0, 33]

In [15]:
# add new key

my_dict['year']='3rd'
my_dict

{'roll_number': 123,
 'marks': [64, 25.0, 33],
 'subject': ['com', 'sci', 'math'],
 'year': '3rd'}

In [17]:
# update value

my_dict.update({'roll_number':100})

In [36]:
my_dict

{'roll_number': 100,
 'marks': [64, 25.0, 33],
 'subject': ['com', 'sci', 'math'],
 'year': '3rd'}

In [61]:
# you can also write on this way
print('it is less than 10') if i<10 else print('something else')

it is less than 10

In [60]:
i = 8
if i < 10:
    print('It is less than 10')
else:
    print('It is something Else')

It is less than 10

In [66]:
# free shiping message

item_1=200
item_2=200
if(item_1+item_2)>=500:
    print('youritem are elegible for free shipping')
    
else:
    extra=500-(item_1+item_2)
    print('please add', extra, 'rs for free shipping')

please add 100 rs for free shipping

In [67]:
# use of and condition(both is true)

a=200
b=33
c=500
if a>b and c<a:
    print('both condition are true')
else:
    print('both are not true')

both are not true

In [68]:
# use of or condition(one is true)

a=200
b=33
c=500
if a>b or c<a:
    print('both condition are true')
else:
    print('both are not true')

both condition are true

In [108]:
# find student level
marks=65
if marks>60:
    if marks>70:
        print('distinction')
    else:
        print('first class')
elif marks>50 and marks<=60:
    print('second class')
elif marks>=35:
    print('pass')
else:
    print('fail')

first class