In [1]:
# empty list

l = []
print(l)

[]

In [2]:
#initializing list

l = ['a','b','c']
print(l)

['a', 'b', 'c']

In [3]:
l

['a', 'b', 'c']

In [4]:
# copy into other list

l = ['a', 6, 9.16]
l

['a', 6, 9.16]

In [5]:
l2 = list(l)

In [6]:
l2

['a', 6, 9.16]

In [7]:
marks = [35, 45, 60, 80, 100]
marks

[35, 45, 60, 80, 100]

In [8]:
copy_marks = marks.copy()
copy_marks

[35, 45, 60, 80, 100]

In [9]:
# string sequence

list('vikas')

['v', 'i', 'k', 'a', 's']

In [10]:
# integer object is not iterable

list(1234567)

TypeError: 'int' object is not iterable

In [12]:
# adding data using append method

employee = []
employee.append('radha')
print(employee)

['radha']

In [13]:
#adding more data using append
#its take only one argument

employee.append('vikas')
employee.append('ramesh')
print(employee)

['radha', 'vikas', 'ramesh']

In [14]:
# addind data using insert method

employee.insert(1,"D'souza")
print(employee)

['radha', "D'souza", 'vikas', 'ramesh']

In [44]:
emp_salary=[15000, 28000, 19000]

In [45]:
emp_salary.insert(0, 48000)
print(emp_salary)

[48000, 15000, 28000, 19000]

In [46]:
# using lenth method for know length of data
employee

['Rani', 'Remo', 'vikas', 'ramesh']

In [18]:
len(employee)

4

In [20]:
# indexing and slicing
employee

['radha', "D'souza", 'vikas', 'ramesh']

In [19]:
# slicing
#grab element base on index
#backward direction

employee[-1]

'ramesh'

In [ ]:
employee[-4]

In [21]:
# forward direction

employee[0]

'radha'

In [ ]:
employee[3]

In [22]:
employee

['radha', "D'souza", 'vikas', 'ramesh']

In [29]:
#employee name change in index position

employee[1] = 'Remo'
employee

['Rani', 'Remo', 'vikas', 'ramesh']

In [25]:
employee[0] = 'Rani'
employee

['Rani', 'Remo', 'vikas', 'ramesh']

In [28]:
emp_salary

[48000, 15000, 28000, 19000]

In [30]:
# update data based on index

emp_salary[1]=20000
emp_salary

[48000, 20000, 28000, 19000]

In [31]:
# access data in between
# grab index 1 and everything past it

emp_salary[1:]

[20000, 28000, 19000]

In [32]:
# grab everything upto index 2
# end index is excluded

emp_salary[:3]

[48000, 20000, 28000]

In [47]:
# starting index included and ending index excluded

emp_salary[1:3]

[15000, 28000]

In [49]:
# add some data temprory

emp_salary+[25000]

[48000, 15000, 28000, 19000, 25000]

In [50]:
# permanent emp salary is
emp_salary

[48000, 15000, 28000, 19000]

In [51]:
# Reassign to keep the data permanantly
emp_salary=emp_salary+[25000]

In [52]:
emp_salary

[48000, 15000, 28000, 19000, 25000]

In [53]:
# use * for dublication method similar to string
# make the list double temporary

emp_salary * 2

[48000, 15000, 28000, 19000, 25000, 48000, 15000, 28000, 19000, 25000]

In [54]:
print('=' * 90)
print('                                             DATA TRAINED                                                             ')
print('=' * 90)

==========================================================================================
                                             DATA TRAINED
==========================================================================================

In [55]:
# Again doubling not permanantly

emp_salary

[48000, 15000, 28000, 19000, 25000]

In [57]:
# count method return the numbers of times it occur in your list
# how many students got 55 marks?

marks=[25,45,55,65,55,64,70]
marks.count(55)

2

In [58]:
# Index 
# Its return element placed as an arguments
# Elements is not in the list then its return an error
# Its a duplicate data its return first position index number

marks

[25, 45, 55, 65, 55, 64, 70]

In [59]:
marks.index(55)

2

In [8]:
# Extend
# Append objects at end

employee=[]
employee.append('vikas')
employee.append('ramesh')
employee.append('radha')
employee.append('anil')
print(employee)

['vikas', 'ramesh', 'radha', 'anil']

In [9]:
# Extend
# Append objects at end

employee.append(['Anu','Sapna'])
print(employee)

['vikas', 'ramesh', 'radha', 'anil', ['Anu', 'Sapna']]

In [10]:
# Extend list by appending elements from the iterable
employee.extend(['Anu','Sapna'])
print(employee)

['vikas', 'ramesh', 'radha', 'anil', ['Anu', 'Sapna'], 'Anu', 'Sapna']

In [11]:
# use of extend method
employee=['radha', 'remo','vikas']
employee.extend(['anu','sapna'])
print(employee)

['radha', 'remo', 'vikas', 'anu', 'sapna']

In [12]:
# pop off the last element of the list

students=['Raj', 'Ram', 'Nancy']
students

['Raj', 'Ram', 'Nancy']

In [13]:
#delete last element
pop_last = students.pop()
pop_last

'Nancy'

In [14]:
students

['Raj', 'Ram']

In [15]:
# delete based on index position

students=['Raj', 'Ram', 'Nancy']
students

['Raj', 'Ram', 'Nancy']

In [16]:
pop_index = students.pop(1)
pop_index

'Ram'

In [18]:
pop_index

'Ram'

In [19]:
# find list

students

['Raj', 'Nancy']

In [29]:
# Remove method remove the first occurence of a value

roll_number = [100,101,102,103,101]
roll_number

[100, 101, 102, 103, 101]

In [35]:
# Delete data (if there are duplicate, first element is deleted)

roll_number.remove(101)

In [36]:
print(roll_number)

[100, 102, 103, 101]

In [37]:
# Reverse method help you to reverse a list
# It effect your list permanantly

lst=[1,2,3,4,3]
lst.reverse()
lst

[3, 4, 3, 2, 1]

In [38]:
# Sort method sort your list in place
# By default sort is asscending order

marks= [25,38,49,55,38,26,47]
marks

[25, 38, 49, 55, 38, 26, 47]

In [39]:
marks.sort()
print(marks)

[25, 26, 38, 38, 47, 49, 55]

In [40]:
# Sort in descending order

marks.sort(reverse=True)
print(marks)

[55, 49, 47, 38, 38, 26, 25]

In [51]:
# TUPLES,tuples is () parasynthis
# tuples are similar to list but they are immutable, they can not change
# can create a tuple with mixed types

work_location=('Bengaluru','Chennai','Delhi')
work_location

('Bengaluru', 'Chennai', 'Delhi')

In [52]:
type(work_location)

tuple

In [53]:
emp_salary=(20000,35000,40000)
emp_salary

(20000, 35000, 40000)

In [44]:
# Try to add new work location

work_location.append('Hyderabad')

# attribute error, it is immutable, do not get any changes in tuple

AttributeError: 'tuple' object has no attribute 'append'

In [54]:
# How do i add it?
# Convert "tuple" into "list" and change the data as per our wish
# Reassining

work_location = list(work_location)
work_location

['Bengaluru', 'Chennai', 'Delhi']

In [56]:
# after convert in list it will come in [] square bracket

type(work_location)

list

In [57]:
# change the data

work_location.append('Hyderabad')
work_location

['Bengaluru', 'Chennai', 'Delhi', 'Hyderabad']

In [58]:
# data add through indexposition

work_location[1] = 'Kolkata'
work_location

['Bengaluru', 'Kolkata', 'Delhi', 'Hyderabad']

In [59]:
# Convert into tuple

work_location = tuple(work_location)

In [60]:
work_location

('Bengaluru', 'Kolkata', 'Delhi', 'Hyderabad')

In [61]:
type(work_location)

tuple

In [62]:
# chek length just like a list

len(work_location)

4

In [63]:
# use indexing just like we did in list

work_location[2]

'Delhi'

In [64]:
# slicing just like a list

work_location[-1]

'Hyderabad'

In [65]:
# Basic tuple method

numbers = (25,50,88,90,50)
numbers

(25, 50, 88, 90, 50)

In [66]:
# use index to enter a value and return the index

numbers.index(50)

1

In [67]:
# use count to count the numbers of times a value appears

numbers.count(50)

2

In [1]:
# Sets are an unordered collection of unique elements which can be constructed using the set() function

roll_numbers=set()

In [2]:
type(roll_numbers)

set

In [3]:
# we add to set with the add method

roll_numbers.add(1)

In [4]:
roll_numbers

{1}

In [5]:
roll_numbers.add(2)

In [6]:
roll_numbers

{1, 2}

In [7]:
# try to add the same element
# duplicate data not show, only unique numbers

roll_numbers.add(1)

In [8]:
roll_numbers

{1, 2}

In [9]:
# create a list with repeats

remove_dups = [8,5,6,9,1,1,2,2,3,4,5,6,1,2]

In [10]:
# cast as set to get unique values

set(remove_dups)

{1, 2, 3, 4, 5, 6, 8, 9}

In [25]:
# you can use set of string as well

animal_name=set()

In [26]:
type(animal_name)

set

In [27]:
animal_name.add('dog')

In [28]:
animal_name

{'dog'}

In [30]:
animal_name.add('cat')

In [31]:
animal_name

{'cat', 'dog'}

In [33]:
remove_dups1=['cat','dog','lion','dog','cat']

In [34]:
set(remove_dups1)

{'cat', 'dog', 'lion'}